.cartList ul {
	max-height: 250px;
	overflow-y: auto;
	margin: 15px;
}
.cartList ::-webkit-scrollbar {
	width: 0.2em;
	height: 10px;
	background-color: rgb(193, 183, 183);
}

.cartList ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cartList ::-webkit-scrollbar-thumb {
	background-color: rgba(237, 234, 234, 0.784);
	outline: 1px solid rgba(196, 196, 197, 0.58);
}

.cartList section {
	padding: 0.6em;
}

.cartList section button:nth-child(1) {
	padding: 0.6em;
	margin: auto;
	width: 40%;
	font-size: 0.8em;
	cursor: pointer;
	background-color: rgb(16, 171, 40);
	border: none;
	color: white;
	border-radius: 5px;
}

.cartList section button:nth-child(2) {
	padding: 0.6em;
	width: 40%;
	margin: auto;
	font-size: 0.8em;
	cursor: pointer;
	background-color: red;
	border: none;
	color: white;
	border-radius: 5px;
}

.cartList section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(128, 128, 128, 0.181);
}
.cartList img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
.cartList div {
	display: flex;
	justify-content: space-between;
	width: 60px;
}

.cartList li {
	border-bottom: 1px solid rgba(128, 128, 128, 0.237);
}

.cartList li section svg:first-of-type, .cartList li section svg:last-child {
	cursor: pointer;

}
